html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.grafico-pequeno {
    max-width: 300px !important;
    max-height: 300px !important;
    height: auto !important;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
}

th {
    background-color: #f8f8f8;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #000;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e6f7ff;
}

.btn-cito {
    background-color: #444; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

    .btn-cito:hover {
        background-color: #222; /* Más oscuro al pasar el mouse */
        color: #fff;
        cursor: pointer;
    }
.acciones-columna {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (min-width: 768px) {
    .acciones-columna {
        flex-direction: row;
        gap: 8px;
    }
}





