@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row justify-content-center text-center">
        <div class="col-md-3">
              <a asp-controller="ControladorResumen" asp-action="Index" class="text-decoration-none text-dark">
            <div class="card shadow tarjeta-opcion">
                <img src="~/images/ganancia.png" class="card-img-top icono-opcion" alt="Resumen">
                <div class="card-body">
                    <h5 class="card-title">Resumen</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="ControladorTransacciones" asp-action="Index" class="text-decoration-none text-dark">
            <div class="card shadow tarjeta-opcion">
                <img src="~/images/flujo-de-fondos.png" class="card-img-top icono-opcion" alt="Transacciones">
                <div class="card-body">
                    <h5 class="card-title">Transacciones</h5>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="ControladorCategorias" asp-action="Index" class="text-decoration-none text-dark">
            <div class="card shadow tarjeta-opcion">
                <img src="~/images/categoria.png" class="card-img-top icono-opcion" alt="Categorías">
                <div class="card-body">
                    <h5 class="card-title">Categorías</h5>
                </div>
            </div>
            </a>
        </div>
        

    </div>
</div>
<div class="text-center mt-4">
    <img src="https://i.pinimg.com/1200x/e0/09/f2/e009f2e64da3da9ba7d96095805aa41e.jpg"
         alt="Chanchito ahorrador"
         style="width: 180px; height: auto;" />
    <p class="fw-bold mt-2">¡Cuida tu chanchito!</p>
</div>

